<div class="deductible-sec benefit-service">
  <div class="head-txt"><strong>Bariatric Surgery</strong></div>
  <div class="deductible-box clearfix benefit-deductible">
   
        <div class="benefit-left">
            <form #ngChiropratic="ngForm">
            <div class="detail-row clearfix">
              <div class="chkbx">
                <input type="checkbox" id="checkbx1" [checked]="Obj.copyPlan" (change)="Obj.copyPlan=!Obj.copyPlan">
                <label for="checkbx1"><strong class="italic-style">Not Covered (Inpatient and outpatient).</strong> </label>
              </div>
              <p class="bottom-space">
                <strong>Acess fees are applied in addition to applicable deductible and coinsurance.</strong><br>
                <strong>Acess fee applies toward the professional changes.</strong>
                
              </p>										
              <div class="rows clearfix">
                <div class="columns chkbx"> 																						                                                                                              
                      <div class="inline-box">
                        <input id="checkbx2" type="checkbox" [checked]="Obj.pcpCopy" (change)="Obj.pcpCopy=!Obj.pcpCopy">
                      <label for="checkbx2">&nbsp;</label> 
                       <input type="text" placeholder="$1,000" [disabled]="(Obj.pcpCopy == true)?'false':'true'"  [(ngModel)]="Obj.customA2"   [required]="(Obj.pcpCopy==true)?'true':'false'"  name="pcpCopyz1" [class.error] = "maximumOf3.invalid && isSubmit && Obj.pcpCopy" #maximumOf3 = "ngModel" class="input-width">Acess free par surgery, plus applicable deductible and coinsurance <strong>(S)</strong>.
                   </div>                                                                                  
                </div>
              </div>
              <div class="rows clearfix">
                <div class="columns chkbx"> 																						                                                                                              
                  <div class="inline-box">
                    <input id="checkbx3" type="checkbox" [checked]="Obj.demoapp" (change)="Obj.demoapp=!Obj.demoapp">
                      <label for="checkbx3">&nbsp;</label> 
                       <input type="text" placeholder="$"  [disabled]="(Obj.demoapp == true)?'false':'true'"  [(ngModel)]="Obj.chiropra"   [required]="(Obj.demoapp==true)?'true':'false'"  name="pcpCopyz2" [class.error] = "maximumOf2.invalid && isSubmit && Obj.demoapp" #maximumOf2 = "ngModel" class="input-width">Acess free par surgery, plus applicable deductible and coinsurance <strong>(N)</strong>.
                   </div>                                                                                  
                </div>
              </div>
              <div class="chkbx">
                <input type="checkbox" id="checkbx4" (change)="show()">
                <label for="checkbx4">Custom <strong>(N)</strong> </label>
              </div>               
            </div>
            <div class="btn-sec clearfix benifit-btn-sec">
              <div class="forword-btn">
                <a href="javascript:void(0);" class="btn" (click)="bariatric(ngChiropratic.valid)">Save</a><a href="javascript:void(0);" class="btn">Cancel</a>
              </div>
            </div>
          </form>
          </div>
   
    <div class="benefit-right benefit-tab chiro">
      <app-bscommon-module [BenefitServicesBuffer]="bariatricSurgeryBuffer" [isShow]="isShow"></app-bscommon-module>
    </div>
  </div>
</div>
