<div class="deductible-sec benefit-service">
  <div class="head-txt"><strong>4th Quarter Carry-Over Deductible</strong></div>
  <!--<div class="deductible-box clearfix benefit-deductible">-->

    <!--<form #ngChiropratic="ngForm" class="chiro">-->
      <!--<div class="deductible-box">-->
        <!--<div class="info-wraps">-->

          <!--<div class="rows clearfix copay-plan-section">-->
            <!--<div class="columns chkbx">-->
              <!--&lt;!&ndash;[checked]="Obj.cpyPlan" (change)="Obj.cpyPlan = !Obj.cpyPlan"&ndash;&gt;-->
              <!--<input type="checkbox" id="checkbx1"  />-->
              <!--<label for="checkbx1">&nbsp;</label>-->
              <!--&lt;!&ndash;[ngClass]="{'InputDisabled':Obj.cpyPlan !== true}" [required]="(Obj.cpyPlan==true)?'true':'false'" name="cpyPlan" #cpyPlanText = "ngModel"  [(ngModel)]="Obj.cpyPlanVal"  [class.error] = "cpyPlanText.invalid && isSubmit && Obj.cpyPlan"&ndash;&gt;-->
              <!--<span> <strong>Copay Plan:</strong><input type="text"     /> Copay* per member, per provider , per day,(S) Copay applies for services in office ,home and walk-in clinic</span>-->
            <!--</div>-->


          <!--</div>-->
          <!--<div class="rows clearfix asc-text">-->
            <!--<strong>(Limits allowed for ASC groups)</strong>-->
            <!--<strong> (Fully-insured group's benefit must be the same as the physician services benifit)</strong>-->
            <!--<h6><strong>Physical Medician and Rehabilitative Services performed by a Chiropractor</strong></h6>-->
          <!--</div>-->
          <!--<div class="rows clearfix plan-section">-->
            <!--<div class="columns chkbx">-->
              <!--&lt;!&ndash;[checked]="Obj.subApplicable"(change)="Obj.subApplicable = !Obj.subApplicable"&ndash;&gt;-->
              <!--<input type="checkbox" id="checkbx2"/>-->
              <!--<label for="checkbx2">subject to applicable deductible and coinsurance(S)</label>-->
            <!--</div>-->


          <!--</div>-->
          <!--<div class="rows clearfix plan-section">-->
            <!--<div class="columns chkbx">-->
              <!--&lt;!&ndash;[checked]="Obj.chiropratics"(change)="Obj.chiropratics= !Obj.chiropratics"&ndash;&gt;-->
              <!--<input type="checkbox" id="checkbx3" />-->
              <!--<label for="checkbx3">chiropractics copay applies for services in office ,home walk-in clinics; deductible and coinsurance in any other location(N)</label>-->
            <!--</div>-->

          <!--</div>-->
          <!--<div class="chkbx rows plan-section">-->
            <!--&lt;!&ndash;[checked]="Obj.customA"(change)="Obj.customA= !Obj.customA"&ndash;&gt;-->
            <!--<input type="checkbox" id="checkbx4" />-->
            <!--<label for="checkbx4">Custom(N)</label>-->
          <!--</div>-->
          <!--<div class="chkbx rows">-->
            <!--&lt;!&ndash;[checked]="Obj.nonCpy"(change)="Obj.nonCpy= !Obj.nonCpy"&ndash;&gt;-->
            <!--<input type="checkbox" id="checkbx5" />-->
            <!--<label for="checkbx5"><strong>Non-copay Plan:</strong> subject to applicable deductible and coinsurance(S)</label>-->
          <!--</div>-->
          <!--<div class="chkbx rows">-->
            <!--&lt;!&ndash;[checked]="Obj.customA2"(change)="Obj.customA2= !Obj.customA2"&ndash;&gt;-->
            <!--<input type="checkbox" id="checkbx6" />-->
            <!--<label for="checkbx6">Custom(N)</label>-->
          <!--</div>-->
          <!--<div class="rows asc-grops-text">-->
            <!--<h6><strong>*********************for asc groups only*********************</strong></h6>-->
          <!--</div>-->
          <!--<div class="chkbx rows plan-section network-text">-->
            <!--&lt;!&ndash;[checked]="Obj.maximumOf"(change)="Obj.maximumOf = !Obj.maximumOf"&ndash;&gt;-->
            <!--<input type="checkbox" id="checkbx7" />-->
            <!--<label for="checkbx7">&nbsp;</label>-->
            <!--&lt;!&ndash;[ngClass]="{'InputDisabled':Obj.maximumOf !== true}"[required]="(Obj.maximumOf==true)?'true':'false'"&ndash;&gt;-->
            <!--&lt;!&ndash;[(ngModel)]="Obj.maximumOfVal1"  [class.error] = "maximumOfText1.invalid && isSubmit && Obj.maximumOf" #maximumOfText1 = "ngModel"&ndash;&gt;-->
            <!--&lt;!&ndash;[(ngModel)]="Obj.maximumOfVal"  [class.error] = "maximumOfText.invalid && isSubmit && Obj.maximumOf" #maximumOfText = "ngModel"&ndash;&gt;-->
            <!--&lt;!&ndash;[ngClass]="{'InputDisabled':Obj.maximumOf !== true}" [required]="(Obj.maximumOf==true)?'true':'false'"&ndash;&gt;-->
            <!--<span> Maximum of <input type="text"    name="maximumOfName1" placeholder="#"/> Chiropractics visit per member, per calendar/plan year.In and out-of-network visit count towards the <input type="text" name="maximumOfName"  placeholder="#"/> visit limit</span>-->
          <!--</div>-->
          <!--<div class="chkbx rows plan-section">-->
            <!--&lt;!&ndash;[checked]="Obj.phyMedicine"(change)="Obj.phyMedicine= !Obj.phyMedicine"&ndash;&gt;-->
            <!--<input type="checkbox" id="checkbx8" />-->
            <!--<label for="checkbx8">Physical medicine performed by a Chiropractor applies toward the chiropractic  limit</label>-->
          <!--</div>-->
          <!--<div class="chkbx rows plan-section">-->
            <!--&lt;!&ndash;[checked]="Obj.customA3"(change)="Obj.customA3 =!Obj.customA3"&ndash;&gt;-->
            <!--<input type="checkbox" id="checkbx9" />-->
            <!--<label for="checkbx9">Custom(N)</label>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="btn-sec chiro-btn clearfix">-->
          <!--<div class="back-btn">-->
            <!--<a href="javascript:void(0);" class="btn">Back</a>-->
            <!--<a href="javascript:void(0);" class="btn">Next</a>-->
          <!--</div>-->
          <!--<div class="forword-btn">    &lt;!&ndash; (click)="saveChiropratic(ngChiropratic.valid)"&ndash;&gt;-->
            <!--<a href="javascript:void(0);" class="btn" >Save</a><a href="javascript:void(0);" class="btn">Cancel</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->
    <!--<div class="benefit-right benefit-tab chiro">-->
      <!--<app-bscommon-module ></app-bscommon-module>-->
    <!--</div>-->
  <!--</div>-->
</div>
