
<div class="print-btn-wrap" (click)="downloadPDF()">Pdf Generate</div>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
      <table class="section" border="0" cellpadding="0" cellspacing="0" align="center" width="1170" >
        <tr>
          <td style="padding:0px 15px;">
            <table border="0" cellspacing="0" cellpadding="0" width="100%">

              <!-- header section start  here -->
              <tr>
                <td style="padding-bottom:70px;">
                  <table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin:20px 0;">
                    <tr>
                      <td width="970" style="font-family: 'Open Sans', sans-serif; font-size: 22px;color:#fff;line-height:1;background: #3079bc;padding:10px;font-weight:400;border-radius:6px;text-transform:capitalize;">Project title</td>
                      <td width="140" style="padding-left:15px;font-size:14px;color:#000000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;"><a href="#" style="text-decoration:none;font-size:14px;color:#000000; ">Company Logo Image</a></td>
                    </tr>
                  </table>
                  <!--  section start here -->
                  <table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin: 10px 0px; border-bottom: 2px solid #b8c0c9;">
                    <tr>
                      <td style=" padding-bottom: 10px;">
                        <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td style="padding-left:15px;font-size:14px;color:#4acbf7;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:capitalize;"><a href="" style="font-size:14px;color:#4acbf7;text-decoration:none;">home -></a></td>
                            <td style="padding-left:15px;font-size:14px;color:#4acbf7;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:capitalize;"><a href="#" style="font-size:14px;color:#4acbf7;text-decoration:none;">Plan Info -></a></td>
                            <td style="padding-left:15px;font-size:14px;color:#4acbf7;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:capitalize;"><a href="#" style="font-size:14px;color:#4acbf7;text-decoration:none;">Plan Config -></a></td>
                            <td style="padding-left:15px;font-size:14px;color:#4acbf7;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:capitalize;"><a href="#" style="font-size:14px;color:#4acbf7;text-decoration:none;">Plan deductible -></a></td>

                          </tr>
                        </table>
                      <ng /td>
                      <td align="right" style="padding-bottom:10px;">
                        <table border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td style="padding-right:10px;font-size:14px;color:#529fde;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:capitalize;"><a href="#" style="font-size:14px;color:#529fde;text-decoration:none;">Madhan Ratnaswamy</a></td>
                            <td  style="padding-left:10px;padding-right:12px;font-size:14px;color:#529fde;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:capitalize;border-left: 2px solid #529fde;"><a href="#" style="font-size:14px;color:#529fde;text-decoration:none;">Logout</a></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- header section end  here -->

              <!-- content section -1 start here -->
              <tr>
                <td style="padding-bottom: 30px;">
                  <table border="0" cellspacing="0" cellpadding="0" width="100%" style=" border-collapse:initial;border:1px solid #b5b8b9;border-radius:6px;">
                    <tr>
                      <td style="padding:20px 15px;">
                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                          <tr>
                            <td>
                              <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                <tr>
                                  <td style="padding-bottom:10px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:capitalize;">Benefit Plan Name <strong style="padding-left: 10px;">PPO Copay 2015 100+ BluePreferred 90/70 250 GF</strong></td>
                                </tr>
                                <tr>
                                  <td>
                                    <table border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td style="padding-left: 60px;" width="183">
                                          <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                            <tr>
                                              <td style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:capitalize;">Segment <strong style="padding-left: 14px;">Large Group</strong></td>
                                            </tr>
                                            <tr>
                                              <td style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:capitalize;">Network <strong style="padding-left: 14px;">Alliance</strong></td>
                                            </tr>
                                            <tr>
                                              <td style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:capitalize;">Group ID <strong style="padding-left: 14px;">0075</strong></td>
                                            </tr>
                                          </table>
                                        </td>

                                        <td width="314">
                                          <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                            <tr>
                                              <td style="padding-bottom:7px;padding-left: 24px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:capitalize;">Plan Type <strong style="padding-left: 14px;">PPO</strong></td>
                                            </tr>
                                            <tr>
                                              <td style="padding-bottom:7px; padding-left: 50px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:capitalize;">Suite <strong style="padding-left: 14px;">A</strong></td>
                                            </tr>
                                            <tr>
                                              <td style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:capitalize;">Group Name <strong style="padding-left: 14px;">PHOENIX CORPORATION</strong></td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td width="183">
                                          <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                            <tr>
                                              <td style="padding-bottom:7px;padding-left: 30px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:capitalize;">Copay <strong style="padding-left: 14px;">Copay</strong></td>
                                            </tr>
                                            <tr>
                                              <td style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:capitalize;">GF/Non GF <strong style="padding-left: 14px;">Non GF</strong></td>
                                            </tr>
                                            <tr>
                                              <td style="padding-bottom:7px;padding-left: 20px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:capitalize;">Funding <strong style="padding-left: 14px;">Fully Insured</strong></td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>

                            <td valign="top">
                              <table border="0" cellspacing="0" cellpadding="0" width="100%" style="border:1px solid #517ea9;border-radius:6px; border-collapse: initial;">
                                <tr>
                                  <td style="padding: 17px 7px 15px; text-align:center;">
                                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                      <tr>
                                        <td style="padding-bottom:15px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:capitalize;">Effective Date <strong style="padding-left: 14px;">1/1/2015</strong></td>
                                      </tr>
                                      <tr>
                                        <td style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:capitalize;">Status <strong style="padding-left: 14px;">Draft</strong></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- content section 1 - end here-->

              <!-- content section 2 - start  here-->

              <tr>
                <td style="border:2px solid #507da9; padding:20px 15px ">
                  <table border="0" cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                      <td width="320" valign="top" style=" padding-right: 34px;">
                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                          <tr>
                            <td style="padding-bottom:7px;font-size:21px;color:#161e21;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform: uppercase;">deductible</td>
                          </tr>

                        </table>
                      </td>
                      <td>
                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                          <tr>
                            <td style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 600;"> For all covered services,unless otherwise stated </td>
                          </tr>
                          <tr>
                            <td style="padding-bottom:15px;">
                              <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="400"></td>
                                  <td width="124" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 800;text-align:center;border-bottom: 2px solid #000;"> Member <br> Deductible </td>
                                  <td width="50"></td>
                                  <td  width="124" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 800;text-align:center;border-bottom: 2px solid #000;"> Family <br> Maximum </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td style="padding-bottom:15px;">
                              <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td  width="325" style="padding-bottom:7px;padding-right:40px;   font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight:400;"><span style="width:5px;height:5px;display:inline-block;background-color:#000;border-radius:50%;vertical-align: top;margin-top: 4px;"></span> Common </td>
                                  <td  width="196" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-align:center"> <input type="text" placeholder="$" style="background:#c7c7c7;padding:0px 10px;   width:70px;  height: 23px;border:0;border-bottom:2px solid #000;"> </td>
                                  <td  width="150" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-align:center"><input type="text" placeholder="$" style="background:#c7c7c7;padding:0px 10px; width: 70px;  height: 23px;border:0;border-bottom:2px solid #000;"></td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td style="padding-bottom:15px;">
                              <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td  width="325" style="padding-bottom:7px;padding-right:40px;   font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight:400;"><span style="width:5px;height:5px;display:inline-block;background-color:#000;border-radius:50%;vertical-align: top;margin-top: 4px;"></span> PPO </td>
                                  <td  width="196" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-align:center"> <input type="text" placeholder="$" style="background:#c7c7c7;padding:0px 10px;   width:70px;  height: 23px;border:0;border-bottom:2px solid #000;"> </td>
                                  <td  width="150" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-align:center"><input type="text" placeholder="$" style="background:#c7c7c7;padding:0px 10px; width: 70px;  height: 23px;border:0;border-bottom:2px solid #000;"></td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td style="padding-bottom:15px;">
                              <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td  width="325" style="padding-bottom:7px;padding-right:40px;   font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight:400;"><span style="width:5px;height:5px;display:inline-block;background-color:#000;border-radius:50%;vertical-align: top;margin-top: 4px;"></span> Non-PPO </td>
                                  <td  width="196" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-align:center"> <input type="text" placeholder="$" style="background:#c7c7c7;padding:0px 10px;   width:70px;  height: 23px;border:0;border-bottom:2px solid #000;"> </td>
                                  <td  width="150" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-align:center"><input type="text" placeholder="$" style="background:#c7c7c7;padding:0px 10px; width: 70px;  height: 23px;border:0;border-bottom:2px solid #000;"></td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td  width="51" style="padding-bottom:15px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;"><input type="checkbox" id="checkbx4"><label for="checkbx4" style="padding-left:8px;position: relative;cursor: pointer">Dual Credit-PPO credits to Non-PPO and Non-PPO credits to PPO</label> </td>
                          </tr>
                          <tr>
                            <td  width="51" style="padding-bottom:15px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;"><input type="checkbox" id="checkbx5"><label for="checkbx5" style="padding-left:8px;position: relative;cursor: pointer">Separate family members</label> </td>
                          </tr>
                          <tr>
                            <td  width="51" style="padding-bottom:15px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;"><input type="checkbox" id="checkbx6" checked="checked" ><label for="checkbx6" style="padding-left:8px;position: relative;cursor: pointer">Custom <strong>(N)</strong></label> </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- content section 2 - end here-->


              <!-- content section 3 - start here-->

              <tr>
                <td style="padding-top:30px">
                  <table border="0" cellspacing="0" cellpadding="0" width="100%">
                    <td style="border:2px solid #507da9; padding:20px 15px">
                      <table border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                          <td width="320" valign="top" style=" padding-right: 34px;">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                              <tr>
                                <td style="padding-bottom:15px;font-size:21px;color:#161e21;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:uppercase;">coinsurance</td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:7px;font-size:14px;color:#161e21;font-family: 'Open Sans', sans-serif;line-height:22px;font-weight: 400;">
                                  *BCBSA requires minimum of 10% differential between in and out of network coinsurance percentage.
                                </td>
                              </tr>

                            </table>
                          </td>
                          <td>
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">

                              <tr>
                                <td style="padding-bottom:15px;">
                                  <table border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td width="400"></td>
                                      <td width="124" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height:19px;font-weight: 800;text-align:center;border-bottom: 2px solid #000;"> BCBS/Plan <br> Pays</td>
                                      <td width="50"></td>
                                      <td  width="124" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height:19px;font-weight: 800;text-align:center;border-bottom: 2px solid #000;"> Member <br> Pays </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:15px;">
                                  <table border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td  width="325" style="padding-bottom:15px;padding-right:40px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;"><input type="checkbox" id="checkbx70"  ><label for="checkbx70" style="padding-left:8px;position: relative;cursor: pointer">PPO <strong>(S)</strong> </label> </td>
                                      <td  width="196" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-align:center"> <input type="text" placeholder="85%" style="background:#c7c7c7;padding:0px 10px;   width:70px;  height: 23px;border:0;border-bottom:2px solid #000;text-align:center;"> </td>
                                      <td  width="150" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-align:center"><input type="text" placeholder="15%" style="background:#c7c7c7;padding:0px 10px; width: 70px;  height: 23px;border:0;border-bottom:2px solid #000;text-align:center;"></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:15px;">
                                  <table border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td  width="325" style="padding-bottom:15px;padding-right:40px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;"><input type="checkbox" id="checkbx8" checked="checked" ><label for="checkbx8" style="padding-left:8px;position: relative;cursor: pointer">Non-PPO<strong> (S)</strong> </label> </td>
                                      <td  width="196" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-align:center"> <input type="text" placeholder="60%" style="background:#c7c7c7;padding:0px 10px;   width:70px;  height: 23px;border:0;border-bottom:2px solid #000;text-align:center;"> </td>
                                      <td  width="150" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-align:center"><input type="text" placeholder="40%" style="background:#c7c7c7;padding:0px 10px; width: 70px;  height: 23px;border:0;border-bottom:2px solid #000;text-align:center;"></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:15px;">
                                  <table border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td  width="325" style="padding-bottom:15px;padding-right:40px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;"><input type="checkbox" id="checkbx90" checked="checked" ><label for="checkbx90" style="padding-left:8px;position: relative;cursor: pointer">Custom<strong> (N)</strong></label> </td>

                                    </tr>
                                  </table>
                                </td>
                              </tr>

                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </table>
                </td>
              </tr>


              <!-- content section 3 - end here-->

              <!-- content section 4 - Start  here-->
              <tr>
                <td style="padding-top:30px">
                  <table border="0" cellspacing="0" cellpadding="0" width="100%">
                    <td style="border:2px solid #507da9; padding:20px 15px">
                      <table border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                          <td width="320" valign="top" style=" padding-right: 34px;">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                              <tr>
                                <td style="padding-bottom:15px;font-size:21px;color:#161e21;font-family: 'Open Sans', sans-serif;line-height:28px;font-weight: 400; text-transform:uppercase;">out-of-pocket (oop) maximum<span style="text-transform:initial"> [Non-GF Only]</span></td>
                              </tr>


                            </table>
                          </td>
                          <td>
                            <table border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td  style="padding-bottom:7px;font-size:14px;color:#161e21;font-family: 'Open Sans', sans-serif;line-height:22px;font-weight: 400;">
                                  For Non-GF,this is a <em>true</em> OOP maximum,meaning coinsurance,desuctible access fees and copays<i>(including Rx copays)</i> count toward the OOP maximum.
                                </td>
                              </tr>
                              <tr>
                                <td  style="padding-bottom:7px;font-size:14px;color:#161e21;font-family: 'Open Sans', sans-serif;line-height:22px;font-weight: 400;">
                                  Both the in-network OOP maximum and the out-of-network OOP maximum are true OOP maximum
                                </td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:15px;">
                                  <table border="0" cellspacing="0" cellpadding="0">

                                    <tr>
                                      <td valign="top"  width="400" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height:19px;font-weight: 400;text-align:left"> The in-network OOP maximum cannot exceed:</td>
                                      <td width="140" valign="top">
                                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                          <tr>
                                            <td style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height:19px;font-weight: 400;text-align:center">  $6,600 per member  </td>
                                          </tr>
                                          <tr>
                                            <td style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height:19px;font-weight: 400;text-align:center">  $13,200 per family  </td>
                                          </tr>
                                        </table>
                                      </td>

                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:15px;">
                                  <table border="0" cellspacing="0" cellpadding="0">

                                    <tr>
                                      <td width="400"></td>
                                      <td width="125" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height:19px;font-weight: 800;text-align:center;border-bottom:2px solid #000;"> Member <br> Pays</td>
                                      <td width="50"></td>
                                      <td  width="125" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height:19px;font-weight: 800;text-align:center;border-bottom:2px solid #000;"> Family <br> Pays </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:15px;">
                                  <table border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td  width="325" style="padding-bottom:15px;padding-right:40px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;"><input type="checkbox" id="checkbx7"  checked="checked"><label for="checkbx7" style="padding-left:8px;position: relative;cursor: pointer">PPO <strong>(S)</strong> </label> </td>
                                      <td  width="196" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-align:center"> <input type="text" placeholder="85%" style="background:#c7c7c7;padding:0px 10px;   width:70px;  height: 23px;border:0;border-bottom:2px solid #000;text-align:center;"> </td>
                                      <td  width="150" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-align:center"><input type="text" placeholder="15%" style="background:#c7c7c7;padding:0px 10px; width: 70px;  height: 23px;border:0;border-bottom:2px solid #000;text-align:center;"></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:15px;">
                                  <table border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td  width="325" style="padding-bottom:15px;padding-right:40px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;"><input type="checkbox" id="checkbx80"  ><label for="checkbx80" style="padding-left:8px;position: relative;cursor: pointer">Non-PPO </label> </td>
                                      <td  width="196" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-align:center"> <input type="text" placeholder="60%" style="background:#c7c7c7;padding:0px 10px;   width:70px;  height: 23px;border:0;border-bottom:2px solid #000;text-align:center;"> </td>
                                      <td  width="150" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-align:center"><input type="text" placeholder="40%" style="background:#c7c7c7;padding:0px 10px; width: 70px;  height: 23px;border:0;border-bottom:2px solid #000;text-align:center;"></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:15px;">
                                  <table border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td  width="325" style="padding-bottom:15px;padding-right:40px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;"><input type="checkbox" id="checkbx900" checked="checked" ><label for="checkbx900" style="padding-left:8px;position: relative;cursor: pointer">Common PPO/Non-PPO <strong>(N)</strong> </label> </td>
                                      <td  width="196" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-align:center"> <input type="text" placeholder="60%" style="background:#c7c7c7;padding:0px 10px;   width:70px;  height: 23px;border:0;border-bottom:2px solid #000;text-align:center;"> </td>
                                      <td  width="150" style="padding-bottom:7px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-align:center"><input type="text" placeholder="40%" style="background:#c7c7c7;padding:0px 10px; width: 70px;  height: 23px;border:0;border-bottom:2px solid #000;text-align:center;"></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:15px;">
                                  <table border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td  width="325" style="padding-bottom:15px;padding-right:40px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;"><input type="checkbox" id="checkbx9" checked="checked" ><label for="checkbx9" style="padding-left:8px;position: relative;cursor: pointer">Custom <strong>(N)</strong></label> </td>

                                    </tr>
                                  </table>
                                </td>
                              </tr>

                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </table>
                </td>
              </tr>


              <!-- content section 4 - End  here-->


              <tr>
                <td style="padding-top:30px">
                  <table border="0" cellspacing="0" cellpadding="0" width="100%">
                    <td style="border:2px solid #507da9; padding:20px 15px">
                      <table border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                          <td width="320" valign="top" style=" padding-right: 34px;">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                              <tr>
                                <td style="padding-bottom:15px;font-size:21px;color:#161e21;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:uppercase;">Physician services office/home/walk-in clinic </td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:7px;font-size:14px;color:#161e21;font-family: 'Open Sans', sans-serif;line-height:22px;font-weight: 400;">
                                  Preventive service, obtained in a physician office are paid at 100% see preventive service section (None-GF-only)
                                </td>
                              </tr>

                            </table>
                          </td>
                          <td>
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">

                              <tr>

                                <td  style="padding-bottom:15px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;">
                                  <input type="checkbox" id="checkbx101">
                                  <label for="checkbx101" style="padding-left:8px;position: relative;cursor: pointer">&nbsp;</label><span style="width: 76%;
													display: inline-block;margin-top: -5px;vertical-align: top;    line-height: 25px;">PCP copy per member, per provider,per day
														<input type="text" placeholder="#" style="background:#c7c7c7;padding:0px 10px;   width:70px;  height: 23px;border:0;border-bottom:2px solid #000;">
														<strong>(S for Copay Plans )</strong>  Specialist copy per member ,per provider ,per day <input type="text" placeholder="#" style="background:#c7c7c7;padding:0px 10px;   width:70px;  height: 23px;border:0;border-bottom:2px solid #000;"></span></td>

                              </tr>
                              <tr>
                                <td  style="padding-bottom:15px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;"><input type="checkbox" id="checkbx104"><label for="checkbx104" style="padding-left:8px;position: relative;cursor: pointer">&nbsp;</label> <span style="width:77%;display:inline-block;vertical-align:top;">Deductible and coincurance applies <strong>(S for Non-Copay Plans )</strong></span></td>
                              </tr>
                              <tr>
                                <td  style="padding-bottom:15px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;"><input type="checkbox" id="checkbx105"><label for="checkbx105" style="padding-left:8px;position: relative;cursor: pointer">&nbsp;</label> <span style="width:77%;display:inline-block;vertical-align:top;">Custom <strong>(N)</strong></span></td>
                              </tr>


                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </table>
                </td>
              </tr>




              <!-- content section 5 - End   here-->

              <!-- content section 6 - start   here-->
              <tr>
                <td style="padding:30px 0">
                  <table border="0" cellspacing="0" cellpadding="0" width="100%">
                    <td style="border:2px solid #507da9; padding:20px 15px">
                      <table border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                          <td width="320" valign="top" style=" padding-right: 34px;">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                              <tr>
                                <td style="padding-bottom:15px;font-size:21px;color:#161e21;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:uppercase">chiropractic</td>
                              </tr>

                            </table>
                          </td>
                          <td>
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                              <tr>

                                <td  style="padding-bottom:15px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;">
                                  <input type="checkbox" id="checkbx11">
                                  <label for="checkbx11" style="padding-left:8px;position: relative;cursor: pointer">&nbsp;</label><span style="    width: 77%;
													display: inline-block;margin-top: -5px;vertical-align: top;    line-height: 25px;"> <strong>Copay Plan:</strong>
														<input type="text" placeholder="#" style="background:#c7c7c7;padding:0px 10px;   width:70px;  height: 23px;border:0;border-bottom:2px solid #000;">
														Copay* per member, per provider , per day,<strong>(S)</strong> Copay applies for services in office ,home and walk-in clinic</span></td>

                              </tr>
                              <tr>
                                <td  style="padding-bottom:15px; padding-left: 21px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 800;">(Limits allowed for ASC groups)</td>
                              </tr>
                              <tr>
                                <td  style="padding-bottom:15px;padding-left: 21px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 800;"> (Fully-insured group's benefit must be the same as the physician services benifit)</td>
                              </tr>
                              <tr>
                                <td  style="padding-bottom:15px;padding-left: 21px;font-size:17px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 800;"> Physical Medician and Rehabilitative Services performed by a Chiropractor</td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:15px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;"><input type="checkbox" id="checkbx12"><label for="checkbx12" style="padding-left:8px;position: relative;cursor: pointer">&nbsp;</label><span>subject to applicable deductible and coinsurance <strong>(S)</strong> </span> </td>
                              </tr>
                              <tr>
                                <td  style="padding-bottom:15px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height:20px;font-weight: 400;"><input type="checkbox" id="checkbx13"><label for="checkbx13" style="padding-left:8px;position: relative;cursor: pointer">&nbsp;</label><span style="width:77%;display:inline-block;vertical-align:top;"> chiropractics copay applies for services in office ,home walk-in clinics; deductible and coinsurance in any other location <strong>(S)</strong></span> </td>
                              </tr>
                              <tr>
                                <td  style="padding-bottom:15px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;"><input type="checkbox" id="checkbx14"><label for="checkbx14" style="padding-left:8px;position: relative;cursor: pointer">&nbsp;</label> <span style="width:77%;display:inline-block;vertical-align:top;">Custom(N)</span></td>
                              </tr>
                              <tr>
                                <td  style="padding-bottom:15px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;"><input type="checkbox" id="checkbx15"><label for="checkbx15" style="padding-left:8px;position: relative;cursor: pointer">&nbsp;</label> <span style="width:77%;display:inline-block;vertical-align:top;"><strong style="border-bottom:2px solid #000;">Non-copay Plan:</strong> subject to applicable deductible and coinsurance <strong>(S)</strong></span></td>
                              </tr>
                              <tr>
                                <td  style="padding-bottom:40px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;"><input type="checkbox" id="checkbx16"><label for="checkbx16" style="padding-left:8px;position: relative;cursor: pointer">&nbsp;</label> <span style="width:77%;display:inline-block;vertical-align:top;">Custom(N)</span></td>
                              </tr>
                              <tr>
                                <td  style="padding-bottom:15px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;text-transform:uppercase;"><strong>*********************for asc groups only*********************</strong></td>
                              </tr>
                              <tr>
                                <td width="51" style="padding-bottom:15px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;"><input type="checkbox" id="checkbx17"><label for="checkbx17" style="padding-left:8px;position: relative;cursor: pointer">&nbsp;</label> <span style="width:77%;display:inline-block;vertical-align:top;">Maximum of
										<input placeholder="#" type="text" style="background:#c7c7c7;padding:0px 10px;   width:70px;  height: 23px;border:0;border-bottom:2px solid #000;">
										Chiropractics visit per member, per calendar/plan year.In <strong style="border-bottom:2px solid #000;">and</strong> out-of-network visit count towards the
										<input placeholder="#" type="text" style="background:#c7c7c7;padding:0px 10px;   width:70px;  height: 23px;border:0;border-bottom:2px solid #000;">
										visit limit</span></td>
                              </tr>
                              <tr>
                                <td  style="padding-bottom:15px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 800;"> AND:</td>
                              </tr>
                              <tr>
                                <td style="padding-bottom:15px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;"><input type="checkbox" id="checkbx18"><label for="checkbx18" style="padding-left:8px;position: relative;cursor: pointer">&nbsp;</label> <span style="width:77%;display:inline-block;vertical-align:top;">Physical medicine performed by a Chiropractor applies toward the chiropractic  limit</span></td>
                              </tr>
                              <tr>
                                <td  style="padding-bottom:15px;font-size:14px;color:#000;font-family: 'Open Sans', sans-serif;line-height: 1;font-weight: 400;"><input type="checkbox" id="checkbx19"><label for="checkbx19" style="padding-left:8px;position: relative;cursor: pointer">&nbsp;</label> <span style="width:77%;display:inline-block;vertical-align:top;">Custom <strong>(N)</strong></span></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </table>
                </td>
              </tr>
              <!-- content section 6 - End   here-->

            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
