<div class="deductible-sec benefit-service">
  <div class="head-txt"><strong>Urjent Care</strong></div>
  <div class="deductible-box clearfix benefit-deductible">

      <div class="benefit-left">
          <form #ngChiropratic="ngForm">
          <div class="detail-row clearfix">
                                            
              <div class="rows clearfix">
                  <div class="columns chkbx"> 																						                                                                                              
                            <div class="inline-box">
                          <input id="checkbx1" type="checkbox" [checked]="Obj.copyPlan"(change)="Obj.copyPlan= !Obj.copyPlan">
                        <label for="checkbx1"><strong class="underline-text">Copay Plan:</strong></label>												    
                         <input type="text" placeholder="$" [disabled]="(Obj.copyPlan === true)?'false':'true'"  [(ngModel)]="Obj.customA2"   [required]="(Obj.copyPlan==true)?'true':'false'"  name="pcpCopyzx" [class.error] = "copyPlan1.invalid && isSubmit && Obj.copyPlan" #copyPlan1 = "ngModel" class="input-width margin-bottom-none">Copay per member, per provider, per day <strong>(S)</strong>.
                     </div>                                                                                  
                  </div>
                </div>
            <div class="chkbx">
              <input type="checkbox" id="checkbx2" (change)="show()">
              <label for="checkbx2">Custom <strong>(N)</strong> </label>
            </div>
            <div class="rows clearfix">
              <div class="columns chkbx"> 																						                                                                                              
                                         <div class="inline-box">
                                           <input id="checkbx3" type="checkbox" [checked]="Obj.customA"(change)="Obj.customA= !Obj.customA">
                    <label for="checkbx3">&nbsp;</label>
                    <strong class="underline-text">Non-Copay Plan:</strong>
                     Subject to applicable deductible and coinsurance <strong>(S)</strong>.
                 </div>                                                                                  
              </div>
            </div>
            <div class="rows clearfix">
              <div class="columns chkbx"> 																						                                                                                              
                  <div class="inline-box">
                    <input id="checkbx4" type="checkbox"  [checked]="Obj.demoapp" (change)="Obj.demoapp= !Obj.demoapp">
                    <label for="checkbx4">&nbsp;</label>
                    <strong class="underline-text">Non-Copay Plan:</strong>
                     <input type="text" placeholder="$"  [disabled]="(Obj.demoapp === true)?'false':'true'"  [(ngModel)]="Obj.chiropra"   [required]="(Obj.demoapp===true)?'true':'false'"  name="pcpCopyz4" [class.error] = "copyPlan4.invalid && isSubmit && Obj.demoapp" #copyPlan4 = "ngModel" class="input-width">Copay per member, per provider, per day <strong>(N)</strong>.
                 </div>                                                                                  
              </div>
            </div>
            
            <div class="chkbx">
              <input type="checkbox" id="checkbx5" (change)="show()">
              <label for="checkbx5">Custom <strong>(N)</strong> </label>
            </div>
            
                              
          </div>
          <div class="btn-sec clearfix benifit-btn-sec">
            <div class="forword-btn">
              <a href="javascript:void(0);" class="btn" (click)="urjentcare(ngChiropratic.valid)">Save</a><a href="javascript:void(0);" class="btn">Cancel</a>
            </div>
          </div>
        </form>
        </div>
    <div class="benefit-right benefit-tab chiro">
      <app-bscommon-module [BenefitServicesBuffer]="urgentCare" [isShow]="isShow"></app-bscommon-module>
    </div>
  </div>
</div>
