<div class="deductible-sec benefit-service">
        <div class="head-txt"><strong>New born Component</strong></div>
        <div class="deductible-box clearfix benefit-deductible">
                <div class="benefit-left">
                        <form #ngChiropratic="ngForm">
                       
                    </form>
                    </div>
              <div class="benefit-right benefit-tab chiro">
                  <app-bscommon-module [BenefitServicesBuffer]="hospiceBuffer" [isShow]="isShow"></app-bscommon-module>
                </div>
        </div>
      </div>
      